* {
  box-sizing: border-box
}

.app-header {
    background-color: #8EECF5;
    color: white;
    height: 150px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

   .logo {
  height: 175px;
  width: 175px;
} 
 

  .landingPage{
    background: #8EECF5;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .landingLogo {
    border-radius: 25%;
    height: 240px;
    width: 240px;
    margin-top: 5%;
    margin-top: 5%;
    
  }

.centerlanding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
}

.loginSignupBtn {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  min-width: 100%;
}
 

.landingbtns {
  width: 100%;
  height: 100px;
}

.login {
  background-color: #F1C0E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
    background: #F1C0E8;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  
}

.signup {
  background-color: #CFBAF0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupPage {
  background: #CFBAF0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

  .nav-item {
    padding-left: 70px;
  }


.flex-row {
  display: flex;
  flex-wrap: wrap;
}








.btns {
  padding-left: 70px;
  
}

.spendingBox {
  border: 3px solid #FBEEF9;
  margin-top: 5%;
  display: flex;
  align-items: center;
}


.userSpending {
  border: 3px solid #FBEEF9;
  margin-top: 3%;
}


.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  align-items: center;

}

.centerdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  margin-top: 10%;
}

.form-input {
  margin-top: 2px;
}

.openPage {
background-color: blue;
}



