* {
    color: green;
}

.app-header {
    background-color: #282c34;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-size: calc(10px + 2vmin);
    color: white;
  }