* {
    margin: 0;
}

.sublistContainer {
    width: 100%;
    border-bottom: 1px solid black;
    min-height: 80px ;
    padding: 10px;
}

.subscriptionName {
      font-size: 18px;
      font-weight: 600;
      float: left;
      width:50%;
      text-align:left;
}

.subscriptionDate {
    font-size: 18px;
    font-weight: 600;
    float: left;
    width:50%;
    text-align:left;

}

.subscriptionAmount {
    float: left;
    width:33.33333%;
    text-align:right;
    font-size: 18px;
    font-weight: 600;
}