* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  
  .phone {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  .phone:before {
    content: "";
    position: absolute;
    width: 84%;
    height: 0px;
    bottom: -10px;
    left: 0;
    right: 0;
  }
  
  .phone:after {
    content: "";
  }
  
  .phone_content {
    -webkit-filter: contrast(20);
            filter: contrast(20);
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
  }
  
  .phone_bottom {
    width: 100%;
    height: 66px;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  
  input {
    display: none;
  }
  
  label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    height: 66px;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  label .fa {
    font-size: 25px;
    color: #fff;
    width: 25px;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    -webkit-transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  label:before {
    content: "";
    position: relative;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
    position: absolute;
    top: -40px;
    z-index: 1;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
  }
  
  .indicator {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-size: cover;
    background-position: 0 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -42px;
    right: 0;
    margin: auto;
    -webkit-transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
    transition: 200ms cubic-bezier(0.14, -0.08, 0.74, 1.4);
  }
  
  #input_1:checked ~ [for="input_1"] > .fa {
    top: -85px;
  }
  
  #input_1:checked ~ .circle,
  #input_1:checked ~ div div .indicator {
    left: -66%;
  }
  
  #input_2:checked ~ [for="input_2"] > .fa {
    top: -85px;
  }
  
  #input_2:checked ~ .circle,
  #input_2:checked ~ div div .indicator {
    left: 0;
  }
  
  #input_3:checked ~ [for="input_3"] > .fa {
    top: -85px;
  }
  
  #input_3:checked ~ .circle,
  #input_3:checked ~ div div .indicator {
    left: 66%;
  }