* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

/* @media only screen and (max-width: 600px) { */

section {
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background-image: url('../../assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    z-index: -1;

}

.headerContainer {
    position: absolute;
    width: 94%;
    height: 94%;
    background: rgba(255,255,255,0.35);
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
    backdrop-filter: blur(4px);
    
}

.totalContainer {
    position: absolute;
    left: 16%;
    transform: translateX(-50%);
    top: 20px;
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 30px;
    padding-left: 110px;
    z-index: 2;

    
}

.totalContainer h2 {
    vertical-align: top;
    font-weight: normal;
    font-size: 1.2rem;
    z-index: 2;

}

.totalAmount {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    z-index: 2;

}

.logo {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
    top: 30px;
    width: 28%;
    z-index: 2;

}

.mysubs {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
    width:200px;
    z-index: 2;
}


.SubContainer {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: 225px;
    
    width:98%;
    min-width: 330px;
    height: 66%;
    max-width: 900px;
    /* box-shadow: 0 15px 30px rgba(0,0,0,0.5); */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.322);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 5px;
    z-index: 2;
    overflow-y:auto;
    scroll-padding: none;
}


.square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.055);
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    z-index: 0;
    backdrop-filter: blur(10px);
    animation: animate 20s linear infinite;
}

.square:nth-child(1) {
    top:10px;
    right: 100px;
    width: 100px;
    height: 100px;

}

.square:nth-child(2) {
    bottom:100px;
    right: 0px;
    width: 100px;
    height: 100px;

}

.square:nth-child(3) {
    bottom:140px;
    left: 4px;
    width: 100px;
    height: 150px;

}

.square:nth-child(4) {
    top:180px;
    left: -10px;
    width: 300px;
    height: 120px;

}

@keyframes animate {
    0%,100%{
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}
/* } */
